<template>
  <v-btn
    icon
    class="rounded-xl"
    large
    @click="isTokenCActive ? disableTokenC() : enableTokenC()"
    :disabled="disableButton"
  >
    <v-icon
      large
      color="#622ed8"
    >
      {{isTokenCActive ? 'mdi-minus-circle' : 'mdi-plus-circle'}}
    </v-icon>
  </v-btn>
</template>

<script>
  import { mapState, mapActions } from "vuex"

  export default {
    computed: {
      ...mapState(
        "exchange-rates-module", [
          'isTokenCActive',
          "selectedTokenA"
        ]
      ),
      disableButton(){
        let auxReturn = false;
        auxReturn = !(this.selectedTokenA.token);
        return auxReturn;
      },
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          'enableTokenC',
          'disableTokenC'
        ]
      )
    }
  }
</script>
