<i18n>
{
  "es": {
    "text": "Precio {quote} {fromToken} por {toToken}"
  },
  "en": {
    "text": "Precio {quote} {fromToken} por {toToken}"
  }
}
</i18n>

<template>
  <v-card
    class="justify-center elevation-0"
    color="transparent"
  >
    <v-row>
      <v-col
        cols="12"
        class="text-rigth"
      >
        <span
          v-text="$t('text', {
            'quote': priceFormat(quote),
            'fromToken': fromToken,
            'toToken': toToken,
          })"
        ></span>
        <a
          href="#footnote-1"
          class="text-decoration-none footnote"
        >*</a>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  export default {
    props: {
      quote: {
        required: true,
        type: String
      },
      fromToken: {
        required: true,
        type: String
      },
      toToken: {
        required: true,
        type: String
      },
    },
    methods: {
      priceFormat(value){
        return this.number_format(value);
      }
    }
  }
</script>

<style scoped>
  .footnote {
    color:#622ed8
  }
</style>