<template>
  <v-card
    outlined
    class="d-flex align-center rounded-lg py-2 px-3 justify-space-between"
  >
    <v-card
      class="text-left elevation-0"
      color="transparent"
      width="100%"
    >
      <span
        class="text-caption"
      >
        {{label}}
      </span>
      <v-text-field
        v-model="valueInput"
        hide-details
        autocomplete="off"
        autocorrect="off"
        type="number"
        :rules="[
          rules.numeric
        ]"
        dense
        placeholder="0,0"
        :disabled="disableSelectButton"
        class="input-token ma-0"
      >
      </v-text-field>
    </v-card>
    <v-btn
      v-if="selectedToken"
      text
      class="py-6"
      @click.native="openDialog()"
      :loading="loading"
    >
      <token-item
        :token="selectedToken"
      ></token-item>
      <v-icon
        class=""
      >
        mdi-menu-down
      </v-icon>
    </v-btn>
    <v-btn
      v-else
      class="text-subtitle-2 font-weight-normal text-none"
      plain
      small
      @click.native="openDialog()"
      :disabled="disableSelectButton"
      :loading="loading"
    >
      Seleccioná moneda
      <v-icon
        class=""
      >
        mdi-menu-down
      </v-icon>
    </v-btn>

    <v-dialog
      v-model="dialog"
      max-width="290"
      scrollable
    >
      <v-card
        class="pt-3"
      >
        <div class="pb-4 px-5 text-subtitle-1 font-weight-normal black--text">
          Seleccioná moneda
        </div>

        <div
          class="pb-2 px-5"
        >
          <v-text-field
            v-if="dialog"
            v-model="searchInput"
            hide-details
            clearable
            dense
            label="Buscar"
            class="rounded-lg"
            outlined
            ref="search_input"
          >
          </v-text-field>
        </div>

        <v-card-text
          v-if="tokenList.length > 0"
          class="px-0 pb-0"
          style="height: 340px;"
        >
          <v-list
            class="pb-0"
          >
            <v-list-item-group
              v-model="selectedToken"
            >
              <template
                v-for="(item, index) in tokenList"
              >
                <token-list-item
                  v-if="!checkEqualToken(item)"
                  :key="index"
                  :token="item"
                >
                </token-list-item>
              </template>
            </v-list-item-group>
          </v-list>
        </v-card-text>
        <v-card-text
          v-else
          class="pa-4 text-center"
          style="height: 340px;"
        >
          No se encontraron resultados
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import { mapActions, mapState } from "vuex"
  import TokenListItem from "./TokenListItem"
  import TokenItem from "./TokenItem"

  export default {
    props: {
      position: {
        required: true,
        type: String
      },
      label: {
        required: true,
        type: String
      }
    },
    data: () => ({
      dialog: false,
      loading: false,
      searchInput: "",
      rules: {
        numeric: v => /^^[0-9]*[.,]?[0-9]*$/.test(v) || "",
      }
    }),
    computed: {
      ...mapState(
        "exchange-rates-module", [
          "selectedTokenA",
          "selectedTokenB",
          "isTokenCActive",
          "selectedTokenC",
          "baseTokens",
          "baseTokenOptions"
        ]
      ),
      disableSelectButton(){
        let auxReturn = false;
        if (this.position == 'b' || this.position == 'c') {
          auxReturn = !(this.baseTokenOptions.length > 0);
        }
        return auxReturn;
      },
      tokenList() {
        let getter = {
          // selectedTokenA
          'a': this.baseTokens,
          // selectedTokenB
          'b': this.baseTokenOptions,
          // selectedTokenC
          'c': this.baseTokenOptions,
          // none
          'default': []
        }
        let auxTokenList = getter[this.position] || getter['default'];
        // let result = this.searchInput ? auxTokenList.filter(token => token.currency.toLowerCase().includes(this.searchInput)) : auxTokenList;
        let result = this.searchInput ? auxTokenList.filter((token) => {
          return token.currency.toLowerCase().includes(this.searchInput.toLowerCase());
        }) : auxTokenList;

        return result;
      },
      valueInput: {
        // getter
        get() {
          return Number(this[`selectedToken${this.position.toUpperCase()}`].value) || 0
        },
        // setter
        set(newValue) {
          this.setValue({
            'value': newValue,
            'position': this.position
          });
          this.runConvertValueToken(this.position);
          this.searchInput = "";
          this.dialog = false;
        }
      },
      selectedToken: {
        // getter
        get() {
          return this[`selectedToken${this.position.toUpperCase()}`].token || null
        },
        // setter
        set(newToken) {
          if (newToken) {
            this.setToken({
              'token': newToken,
              'position': this.position
            });
            let positions = {
              // selectedTokenA
              a: () => {
                this.get_base_token_options();
                return true;
              },
              // selectedTokenB
              b: () => {
                this.runConvertValueToken('a');
                return true;
              },
              // selectedTokenC
              c: () => {
                this.runConvertValueToken('a');
                return true;
              },
              // none
              default: () => {
                console.log('position not found');
                return true;
              },
            }
            positions[this.position]() || positions['default']()

            this.searchInput = "";
            this.dialog = false;
          }
        }
      }
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          'setToken',
          'setValue',
          'getBaseTokenOptions',
          'runConvertValueToken',
          'disableTokenC'
        ]
      ),
      checkEqualToken(token){
        let position = {
          'a': () => {
            return false
          },
          'b': () => {
            if (this.selectedTokenC.token) {
              return this.selectedTokenC.token.currency == token.currency
            }else {
              return false
            }
          },
          'c': () => {
            if (this.selectedTokenB.token) {
              return this.selectedTokenB.token.currency == token.currency
            }else {
              return false
            }
          },
          'default': () => {
            return false
          }
        }
        return position[this.position]() || position['default']()
      },
      openDialog(){
        this.dialog = true;
        setTimeout(() => {
          this.$refs.search_input.$el.querySelector('input').focus()
        }, 200);

        // this.$nextTick(() => {
        //   this.$refs.search_input.$el.querySelector('input').focus()
        // })
      },
      async get_base_token_options(){
        if (this.selectedTokenA.token) {
          this.loading = true;
          await this.getBaseTokenOptions()
          .then(response => {
            this.disableTokenC();
          })
          .catch(e => {
            console.log(e);
          })
          this.loading = false;
        }
      }
    },
    components: {
      TokenListItem,
      TokenItem
    }
  }
</script>

<style scoped>
  ::v-deep .input-token .v-input__slot::before,
  ::v-deep .input-token .v-input__slot::after{
    border: 0 !important;
  }

  ::v-deep.input-token input::-webkit-outer-spin-button,
  ::v-deep.input-token input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  ::v-deep.input-token input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  }
</style>