<template>
  <v-btn
    color="transparent"
    large
    class="elevation-0 rounded-xl"
    @click="swap_tokens()"
    :disabled="disableButton"
  >
    <v-icon
      color="#622ed8"
      class="pr-1"
    >
      mdi-arrow-up
    </v-icon>
    <v-icon
      color="#622ed8"
      class="pl-1"
    >
      mdi-arrow-down
    </v-icon>
  </v-btn>
</template>

<script>
  import { mapState, mapActions } from "vuex"

  export default {
    computed: {
      ...mapState(
        "exchange-rates-module", [
          "selectedTokenA",
          "selectedTokenB",
          "selectedTokenC",
        ]
      ),
      disableButton(){
        let auxReturn = false;
        auxReturn = !(this.selectedTokenA.token && (
          this.selectedTokenB.token || this.selectedTokenC.token
        ));
        return auxReturn;
      },
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          'swapTokens',
          'disableTokenC',
          'runConvertValueToken'
        ]
      ),
      swap_tokens(){
        this.swapTokens();
        this.disableTokenC();
        this.runConvertValueToken('a');
      }
    }
  }
</script>
