<template>
  <div
    class="d-flex align-center"
  >
    <v-avatar
      size="36px"
    >
      <v-img
        :src="token.logo_url.thumbnail"
        :alt="token.currency"
      ></v-img>
    </v-avatar>
    <span
      class="pl-2"
    >
      {{token.currency}}
    </span>
  </div>
</template>

<script>
  export default {
    props: {
      token: {
        required: true,
        type: Object
      }
    }
  }
</script>