<template>
  <v-list-item
    :value="token"
  >
    <v-list-item-content>
      <v-list-item-title
        class="pl-16 ml-4"
      >
        <token-item
          :token="token"
        >
        </token-item>
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>

<script>
  import TokenItem from "./TokenItem"
  export default {
    props: {
      token: {
        required: true,
        type: Object
      }
    },
    components: {
      TokenItem
    }
  }
</script>