<template>
  <v-card
    class="justify-center elevation-0"
    color="transparent"
  >
    <v-row>
      <v-col
        cols="12"
        class="text-center"
      >
        <select-token
          position="a"
          label="De"
        >
        </select-token>
      </v-col>
      <v-col
        cols="12"
        class="py-0 text-center"
      >
        <swap-token>
        </swap-token>
      </v-col>
      <v-col
        cols="12"
        class="text-center"
      >
        <select-token
          position="b"
          label="A"
        >
        </select-token>
      </v-col>
      <v-col
        v-if="selectedTokenB.token && selectedTokenB.value != 0"
        cols="12"
        class="text-right"
      >
        <price-token
          :quote="selectedTokenB.quote"
          :fromToken="selectedTokenA.token.currency"
          :toToken="selectedTokenB.token.currency"
        >
        </price-token>
      </v-col>
      <v-col
        cols="12"
        class="text-center"
      >
        <add-remove-token>
        </add-remove-token>
      </v-col>
      <v-col
        v-if="isTokenCActive"
        cols="12"
        class="text-center"
      >
        <select-token
          position="c"
          label="A"
        >
        </select-token>
      </v-col>
      <v-col
        v-if="selectedTokenC.token && selectedTokenC.value != 0"
        cols="12"
        class="text-right"
      >
        <price-token
          :quote="selectedTokenC.quote"
          :fromToken="selectedTokenA.token.currency"
          :toToken="selectedTokenC.token.currency"
        >
        </price-token>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import { mapState, mapActions } from "vuex"
  import SelectToken from "./misc/SelectToken"
  import PriceToken from "./misc/PriceToken"
  import SwapToken from "./misc/SwapToken"
  import AddRemoveToken from "./misc/AddRemoveToken"

  export default {
    components: {
      SelectToken,
      PriceToken,
      SwapToken,
      AddRemoveToken
    },
    computed: {
      ...mapState(
        "exchange-rates-module", [
          'isTokenCActive',
          'selectedTokenA',
          'selectedTokenB',
          'isTokenCActive',
          'selectedTokenC'
        ]
      )
    },
    mounted(){
      this.get_base_tokens();
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          "getBaseTokens"
        ]
      ),
      async get_base_tokens(){
        await this.getBaseTokens()
        .then(response => {})
        .catch(e => {
          console.log(e);
        })
      }
    }
  }
</script>
