<template>
  <v-toolbar flat color="grey lighten-3">
    <v-btn icon v-if="back" @click="backPressed">
      <v-icon>mdi-chevron-left</v-icon>
    </v-btn>
    <v-toolbar-title :class="[ isXsSm() ? 'pl-1' : 'pl-5']">
      <span class="title-1">{{ title }}</span>
    </v-toolbar-title>
  </v-toolbar>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      back: { default: false },
      backEvent: { type: String }
    },
    methods: {
      backPressed() {
        if(this.backEvent) {
          this.$emit(this.backEvent);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
	.v-toolbar {
    position: relative;

    button {
      position: absolute;
      top: calc(50% - 24px);
      left: -36px;
    }
	}
</style>
