<template>
  <v-card
    class="justify-center elevation-0"
    color="transparent"
  >
    <expand-select-currency
      :loading="loading"
      type="stables"
    >
    </expand-select-currency>
    <expand-select-currency
      :loading="loading"
      type="cryptos"
    >
    </expand-select-currency>
  </v-card>
</template>

<script>
  import { mapState, mapActions } from "vuex"
  import ExpandSelectCurrency from "./misc/ExpandSelectCurrency"

  export default {
    components: {
      ExpandSelectCurrency
    },
    data() {
      return {
        loading: true
      }
    },
    computed: {
      ...mapState(
        "exchange-rates-module", [
          'exchangeRates',
          'currenciesByCountry'
        ]
      )
    },
    mounted(){
      this.get_currencies_by_country();
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          "getExchangeRates",
          "getCurrenciesByCountry"
        ]
      ),
      async get_currencies_by_country(){
        await this.getCurrenciesByCountry()
        .then(response => {
          this.get_exchange_rates(this.currenciesByCountry[0]);
        })
        .catch(e => {
          console.log(e);
        })
      },
      async get_exchange_rates(currency){
        this.loading = true;
        await this.getExchangeRates({
          "currency": currency
        })
        .then(response => {})
        .catch(e => {
          console.log(e);
        })
        this.loading = false;
      }
    }
  }
</script>
