<i18n>
{
  "es": {
    "title": "Cotizaciones del día",
    "subtitle-calculator": "Cotizá tus monedas favoritas",
    "subtitle-table": "Mirá las cotizaciones del día"
  },
  "en": {
    "title": "Cotizaciones del día",
    "subtitle-calculator": "Cotizá tus monedas favoritas",
    "subtitle-table": "Mirá las cotizaciones del día"
  }
}
</i18n>

<template>
  <v-container
    fluid
    class="fill-height pa-0 align-start"
  >
    <v-sheet
      color="grey lighten-3"
      width="100%"
      height="100%"
    >
      <v-container
        fluid
        class="pa-0 align-start"
      >
        <v-row
          class="justify-center"
        >
          <v-col
            cols="12"
            class="py-4 px-8 px-sm-16"
          >
            <exchange-rates-breadcrumbs
              :title="$t('title')"
            >
            </exchange-rates-breadcrumbs>
          </v-col>
        </v-row>
      </v-container>

      <v-container
        class="pb-0 pb-sm-6"
      >
        <v-card
          class="pt-0 pt-sm-6 pb-6 px-2 px-sm-4"
          :class="$vuetify.breakpoint.smAndUp ?
            'elevation-2' :
            'elevation-0'
          "
          :color="$vuetify.breakpoint.smAndUp ?
            'white' :
            'transparent'
          "
        >
          <v-row
            class="justify-center"
            no-gutters
          >
            <v-col
              cols="12"
            >
              <h3
                v-text="$t('subtitle-calculator')"
                class="pb-6 font-weight-bold poppins"
              ></h3>
            </v-col>
            <v-col
              cols="12"
              sm="8"
              md="9"
              lg="7"
              class="pb-6"
            >
              <exchange-rates-calculator>
              </exchange-rates-calculator>
            </v-col>
          </v-row>
          <v-row
            class="justify-center"
            no-gutters
          >
            <v-col
              cols="12"
            >
              <h3
                v-text="$t('subtitle-table')"
                class="pt-6 pt-sm-0 pb-6 font-weight-bold poppins"
              ></h3>
            </v-col>
            <v-col
              cols="12"
              class="pb-6"
            >
              <exchange-rates-table>
              </exchange-rates-table>
            </v-col>
          </v-row>
          <v-row
            class="justify-center"
            no-gutters
          >
            <v-col
              cols="12"
            >
              <p
                id="footnote-1"
              >
                * Precios aproximados, pueden variar según el monto de la orden.
              </p>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-sheet>
  </v-container>
</template>

<script>
  import { mapState } from "vuex";
  import ExchangeRatesModule from '../store/exchange-rates-module'
  import ExchangeRatesBreadcrumbs from '../../breadcrumbs/ExchangeRatesBreadcrumbs';
  import ExchangeRatesCalculator from '../components/exchange-rates-calculator/'
  import ExchangeRatesTable from '../components/exchange-rates-table/'

  export default {
    components: {
      ExchangeRatesBreadcrumbs,
      ExchangeRatesCalculator,
      ExchangeRatesTable
    },
    head: {
      title: function () {
        return {
          inner: this.$t('title'),
          separator: '-',
          complement: 'SeSocio'
        }
      }
    },
    data() {
      return {
        loading: true,
        exchangeRates: null
      }
    },
    created() {
      if(!this.$store.hasModule("exchange-rates-module")) {
        this.$store.registerModule("exchange-rates-module", ExchangeRatesModule);
      }
    },
    computed: {
      ...mapState(
        "core", [
          "country"
        ]
      )
    }
  }
</script>
