<i18n>
{
  "es": {
    "text": "Elegi moneda"
  },
  "en": {
    "text": "Elegi moneda"
  }
}
</i18n>

<template>
  <v-row>
    <v-col
      cols="12"
      class="text-right"
    >
      <span
        class="d-inline-block text-caption d-inline-block mr-2 mt-1 black--text"
        v-text="$t('text')"
      >
      </span>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            small
            :loading="loading"
            depressed
            v-bind="attrs"
            v-on="on"
          >
            {{ selectedCurrency == 'USD' ? "IUSD" : selectedCurrency }}
            <v-icon right dark>mdi-menu-down</v-icon>
          </v-btn>
        </template>

        <v-list dense>
          <template v-for="(currency, index) in currenciesByCountry">
            <v-list-item
              :key="index"
              :value="selectedCurrency"
              @click="set_selected_currency(currency)"
            >
              <v-list-item-title>{{ currency == 'USD' ? "IUSD" : currency }}</v-list-item-title>
            </v-list-item>
          </template>
        </v-list>
      </v-menu>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from "vuex"

  export default {
    computed: {
      ...mapState(
        "exchange-rates-module", [
          'currenciesByCountry',
          'selectedCurrency'
        ]
      )
    },
    data() {
      return {
        loading: false
      }
    },
    methods: {
      ...mapActions(
        "exchange-rates-module", [
          "getExchangeRates",
          "setSelectedCurrency"
        ]
      ),
      set_selected_currency(currency){
        this.get_exchange_rates(currency);
      },
      async get_exchange_rates(currency){
        this.loading = true;
        await this.getExchangeRates({
          "currency": currency
        })
        .then(response => {
          this.setSelectedCurrency(currency);
        })
        .catch(e => {
          console.log(e);
        })
        this.loading = false;
      }
    }
  }
</script>
