<i18n>
{
  "es": {
    "colOne": "Comprar",
    "colTwo": "Vender"
  },
  "en": {
    "colOne": "Comprar",
    "colTwo": "Vender"
  }
}
</i18n>

<template>
  <v-row>
    <v-col
      cols="12"
      class="text-center pt-0"
    >
      <v-simple-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left"> </th>
              <th class="text-right">
                {{$t(`colOne`)}}
              </th>
              <th class="text-right">
                {{$t(`colTwo`)}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(token, index) in exchangeRates[type]"
              :key="index"
            >
              <td
                class="text-left"
              >
                {{ token.currency }}
              </td>
              <td
                class="text-right"
              >
                {{ colOne(token) }}
              </td>
              <td
                class="text-right"
              >
                {{ colTwo(token) }}
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState } from "vuex"

  export default {
    props: {
      type: {
        required: true,
        type: String
      }
    },
    computed: {
      ...mapState(
        "exchange-rates-module", [
          'exchangeRates',
          'selectedCurrency'
        ]
      )
    },
    methods: {
      colOne(token){
        let types = {
          "stables": () => {
            return token.out;
          },
          "cryptos": () => {
            return token.sell;
          },
          "default": () => {
            return "-";
          },
        }

        return types[this.type]() || types['default']()
      },
      colTwo(token){
        let types = {
          "stables": () => {
            return token.in;
          },
          "cryptos": () => {
            return token.buy;
          },
          "default": () => {
            return "-";
          },
        }

        return types[this.type]() || types['default']()
      }
    },
  }
</script>
