<i18n>
{
  "es": {
    "types": {
      "stables": "iStables",
      "cryptos": "Criptomonedas",
      "default": "Otros"
    }
  },
  "en": {
    "types": {
      "stables": "iStables",
      "cryptos": "Criptomonedas",
      "default": "Otros"
    }
  }
}
</i18n>

<template>
  <v-row>
    <v-col
      cols="12"
      class="text-center"
    >
      <v-card
        class="elevation-0 rounded-lg text-left"
        outlined
        :loading="loading"
        :ripple="false"
        :disabled="loading"
        @click="expand = !expand"
      >
        <div
          class="d-flex pa-4"
        >
          <div
            v-text="$t(`types.${type}`)"
            class="black--text"
          >
          </div>
          <v-spacer>
          </v-spacer>
          <div>
            <v-icon>
              {{expand ? 'mdi-menu-up' : 'mdi-menu-down'}}
            </v-icon>
          </div>
        </div>
      </v-card>
      <v-expand-transition>
        <v-card
          v-show="expand"
          class="elevation-0"
          color="transparent"
        >
          <currency-select
            class="pt-4"
          >
          </currency-select>
          <currency-table
            :type="type"
          >
          </currency-table>
        </v-card>
      </v-expand-transition>
    </v-col>
  </v-row>
</template>

<script>
  import CurrencySelect from "./CurrencySelect"
  import CurrencyTable from "./CurrencyTable"

  export default {
    components: {
      CurrencySelect,
      CurrencyTable
    },
    props: {
      loading: {
        required: true,
        type: Boolean
      },
      type: {
        required: true,
        type: String
      }
    },
    data() {
      return {
        expand: false
      }
    }
  }
</script>
